
h1 + input{
  
  border-radius: 6px;
}

body{
  /* background-color: rgb(30,36,50);
   */
   background-color: #0a1f44;
}
.firstPage {
  text-align: center;

}

.submitButton{
  margin-left: 20px;
}

.card{
  height: 300px;
  margin: 75px 50px 50px 50px;
  border-radius: 20px;
  width: 20px;
}
